.Header {
  margin: 0 auto;
  padding: 80px 250px;
  width: 768px;
  display: flex;
}
.Header .background {
  width: 400px;
  height: 400px;
  border-radius: 50%;
 background-color: aquamarine;
}
.Header .hero h1 {
  font-family: 'Gulzar', serif;
  font-size: 30px;
  padding: 20px 0;
}
.Header button {
  font-family: 'Gulzar', serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(47, 190, 159);
  margin: 0 10px;
}